<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="../static/Images/style.css">
</head>
<body class="page">
<!-- Page top "navigation bar" -->
    <header class="site-header">
        <div class="header-content">
            
        </nav>
        </div>
    </header>
<!-- Page Content -->
    <div class="container">
        <main class="content">
            
        </main>
    </div>
<!-- Page bottom -->
    <footer class="site-footer">
        <p>&copy; 2026 Group Tracker. All rights reserved.</p>
    </footer>
</body>
</html>