<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="/static/image/logo.png">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>About - Group Tracker</title>
</head>
<body class="page">
<!-- Page top "navigation bar" -->
    <header class="site-header">
        <div class="header-content">
            
        </nav>
        </div>
    </header>
<!-- Page Content -->
    <div class="container">
        <main class="content">
            
        </main>
    </div>
<!-- Page bottom -->
    <footer class="site-footer">
        <p>&copy; 2026 Group Tracker. All rights reserved.</p>
    </footer>
</body>
</html>